<%- include('../partiel/header.ejs') %>


<div class="container">
    <form id="formMessage" action="/profile/message/<%= user._id %>" method="POST" >
        <div class="d-none">
        <label for="id" class="d-none"></label>
        
        <input type="text" name="id" value=<%= user._id %>>
        </div>
        <label for="message" name=<%= receveur %> > Entrez votre message a  </label> 

        <input type="text" name="receveur" value=<%= receveur %> >

        <textarea name="message" class="d-block" row="30" cols="55"></textarea>

        <button type="submit" class="btn btn-success d-block w-100">Envoyer</button>

    </form>











    <aside> 
        <button id="activateChat" class="d-none btn btn-danger"> Activer le chat</button>
        <div class="" id="chatBox">
            <div id="subChatBox">
                <h2> Chat</h2>
                <div id="connectedMessage">
            </div>
                <form id="chatForm" action="" method="">
                    <input type="text" id="chatInput" name=<%=user.username %> >
                    <button class="btn btn-primary" type="submit" id="sendChat">Envoyer</button>
                    <ul id="chatMessages">
                        </ul>
                </form>
                <button id="reduceChat" class="btn btn-danger"> Reduire le chat </button>
            </div>
            <div>
                <ul id="userConnected">
                </ul>
            </div>
        </div>
    </aside>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/jsClient/chat.js"></script>
<script src="/jsClient/messagerie.js"></script>
<%- include('../partiel/footer.ejs') %> 