<%- include('../partiel/header.ejs') %>

<h1> Bonjour <%=user.username %> </h1>

<div class="container">
    <div id="mur">
        <h2> Vos messages</h2>
    <div id="messageMur">
        <% for( let index = 0; index < message.length; index++ ) { %>
            <%= message[index]["message"] %> 
            <%= message[index]["date"] %> 
        <% } %>
        
    </div>
<a href="/profile/morpion/<%=user._id %>"> Jouez au morpion</a>
</div>
    <aside> 
        <button id="activateChat" class="d-none btn btn-danger"> Activer le chat</button>
        <div class="" id="chatBox">
            <div id="subChatBox">
                <h2> Chat</h2>
                <div id="connectedMessage">
            </div>
                <form id="chatForm" action="" method="">
                    <input type="text" id="chatInput" name=<%=user.username %> >
                    <button class="btn btn-primary" type="submit" id="sendChat">Envoyer</button>
                    <ul id="chatMessages">
                        </ul>
                </form>
                <button id="reduceChat" class="btn btn-danger"> Reduire le chat </button>
            </div>
            <div>
                <ul id="userConnected">
                </ul>
            </div>
        </div>
    </aside>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/jsClient/chat.js"></script>
<%- include('../partiel/footer.ejs') %> 
